body{
  text-align: center;
  font-family: helvetica;
}

.top{
background-image: url('file:///C:/Users/philippos/Documents/GitHub/broadway/resources/images/the-flatiron-building.png');
font-weight: bold;
color: white;
}

.top h1{
  font-size: 70px;
}

.top h2{
  font-size: 23px;
}

.nav{
  font-size: 18px;
  color:white;
}

.supporting h2{
  font-size: 32px;
  font-weight: bold;
}

.supporting h3{
  font-size: 23px;
  font-weight: bold;
}

.supporting p{font-size: 14px;
}

.footer{
  text-align: left;
  font-size:11px;
  color:white;
  background-color: dimgray;
}
a{
  color:white;
}
